html {
    -webkit-text-size-adjust: 100%;
}
body {
    width: 100%;
}
.content {
    margin: 60px auto;
    max-width: 700px;
    padding: 0 5%;
}
.site-nav {
	margin: 0 auto;
	max-width: 700px;
	background-color: #e6e6e6;
	padding: 22px 5% 20px;
}
nav ul, footer ul {
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-left: 15px;
}
nav {
	float: right;
}
a {
    text-decoration: underline;
    color: #0364AC;
}
a:hover {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Domine', serif;
    line-height: 1.2;
}
h1 {
	font-size: 3.998em;
}
h2 {
	font-size: 2.827em;
}
h3 {
	font-size: 1.999em;
}
h4 {
	font-size: 1.414em;
}
h5 {
	font-size: 1.2em;
}
h6 {
	font-size: 1em;
}

p, ul {
	font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.6;
    color: #333;
}
li {
	padding-bottom: 0.5em;
}

.site-header {
	background-color: #e6e6e6;
}

.site-title {
	display: inline-block;
}
.site-title a{
	color: #333;
	text-decoration: none;
}
.site-title a:hover{
	color: #0364AC;
}
.site-logo img {
	width: 95px;
}



footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


/*  Wide Layout - Large Images: 1150px. */
@media only screen and (min-width: 1150px) {

}

/*  Wide Layout - Medium Images: 901px. */
@media only screen and (min-width: 901px) and (max-width: 1149px) {

}

/*  Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 900px) {

}

/*  Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.5em;
}
h3 {
	font-size: 2em;
}
h4 {
	font-size: 1.5em;
}
h5 {
	font-size: 1.2em;
}
h6 {
	font-size: 1em;
}
p, ul {
	font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
}
}

/*  Mobile Layout: 320px. */
@media only screen and (max-width: 479px) {
h1 {
	font-size: 2.75em;
}
h2 {
	font-size: 2.25em;
}
h3 {
	font-size: 1.75em;
}
h4 {
	font-size: 1.5em;
}
h5 {
	font-size: 1.2em;
}
h6 {
	font-size: 1em;
}
p, ul {
	font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
}
}
