




html {
    -webkit-text-size-adjust: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    line-height: 1.6;
    color: #333;
}
.content {
    margin: 3em auto;
    max-width: 700px;
    padding: 0 5%;
}
.site-nav {
	margin: 0 auto;
	max-width: 700px;
	background-color: #e6e6e6;
	padding: 1.375em 5% 1.25em;
}
nav ul, footer ul {
    padding: 0;
    list-style: none;
}
nav ul li {
    display: inline;
    margin-left: 1em;
}
nav {
	float: right;
}
footer ul li {
    display: inline;
    margin-right: 1em;
}
a {
    text-decoration: underline;
    color: #0364AC;
}
a:hover {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Domine', serif;
    line-height: 1.2;
	margin: 0.90em 0 0.25em 0;
}
h1 {
	font-size: 3.157em;
}
h2 {
	font-size: 2.369em;
}
h3 {
	font-size: 1.777em;
}
h4 {
	font-size: 1.333em;
}
h5 {
	font-size: 1.1665em;
}
h6 {
	font-size: 1em;
}
.border-header {
	border-bottom: 4px solid #ccc;
	background-color: #e6e6e6;
	padding: 1.5em;
}


p, ul {
	font-size: 1.3em;
	margin: 0 0 1.25em 0;
  
}
li {
	padding-bottom: 0.5em;
}

.site-header {
	background-color: #e6e6e6;
}

.site-title {
	display: inline-block;
}
.site-title a{
	color: #333;
	text-decoration: none;
}
.site-title a:hover{
	color: #0364AC;
}
.site-logo img {
	width: 95px;
}


.site-footer {
	padding: 1.375em 5% 1.25em;
}
footer {
    border-top: 4px solid #ccc;
	margin: 0 auto;
	max-width: 700px;
	padding-top: 0.75em;
}

.no-margin {
	margin: 0;
}

.posts {
}
.post-item {
	margin-bottom: 2em;
	background-color: #e6e6e6;
	padding: 2em;
}
.post-title {
	font-size: 1.8em;
	margin-bottom: 0.25em;
}
.post-date {
	font-size: 1em;
}
.post {
}

.comments {

}
.comment-button {
	padding: 1.5em;
	border: 1px solid #ccc;
	text-align: center;
	background-color: #e6e6e6;
}

#disqus_thread {
	margin: 3em 0;
}

.img-responsive {
	max-width: 100%;
}
.img-wide {
	width: 100%;
}

/*  Wide Layout - Large Images: 1150px. */
@media only screen and (min-width: 1150px) {
.img-wide {
	width: 140%;
	margin: 0 -20%;
}
}

/*  Wide Layout - Medium Images: 901px. */
@media only screen and (min-width: 901px) and (max-width: 1149px) {
.img-wide {
	width: 120%;
	margin: 0 -10%;
}
}

/*  Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 900px) {

}

/*  Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.5em;
}
h3 {
	font-size: 2em;
}
h4 {
	font-size: 1.5em;
}
h5 {
	font-size: 1.2em;
}
h6 {
	font-size: 1em;
}
p, ul {
	font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
}
.site-logo img {
	width: 47.5px;
}

}

/*  Mobile Layout: 320px. */
@media only screen and (max-width: 479px) {
h1 {
	font-size: 2.75em;
}
h2 {
	font-size: 2.25em;
}
h3 {
	font-size: 1.75em;
}
h4 {
	font-size: 1.5em;
}
h5 {
	font-size: 1.2em;
}
h6 {
	font-size: 1em;
}
p, ul {
	font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
}
.site-logo img {
	width: 47.5px;
}
}
