html {
    -webkit-text-size-adjust: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    line-height: 1.6;
    color: #333;
}
.content {
    margin: 0 auto;
    max-width: 700px;
    padding: 2em 5%;
}
.background {
	background-color: #ffffff;
}
.site-nav {
	margin: 0 auto;
	max-width: 700px;
	padding: 1.375em 5% 0;
}
nav ul, footer ul {
    padding: 0;
    list-style: none;
}
nav ul li {
    display: inline;
    margin-right: 1em;
}
nav {
	margin: 1em 0 0 0;
}
.info {
	background-color: #e6e6e6;
	padding: 2em 2em 0 2em;
	margin-bottom: 2em;
}
footer ul li {
    display: inline;
    margin-right: 1em;
}
a {
    text-decoration: underline;
    color: #333333;
}
a:hover {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
	margin: 0.80em 0 0.25em 0;
	font-weight: normal;
}
h1 {
	font-size: 2.2em;
	margin: 0 0 0.25em 0;
}
h2 {
	font-size: 2.0em;
}
h3 {
	font-size: 1.8em;
}
h4 {
	font-size: 1.6em;
}
h5 {
	font-size: 1.4em;
}
h6 {
	font-size: 1.2em;
}
.border-header {
	margin-bottom: 2em;
	padding: 0 0 0.5em 0;
	background-color: #222222;
	padding: 2em;
	color: #eeeeee;
}
.twitter {
	border-top: 1px dashed #aaa;	
	text-align: center;
	padding: 3em 0 0 0;
}
p, ul, ol {
	font-size: 1.3em;
	margin: 0 0 1.25em 0;
}
li {
	padding-bottom: 0.5em;
}
.about ul {
	display: block;
	padding: 0;
	margin: 0;
}
.about ul li {
    display: inline;
    margin-right: .9em;
    list-style-type: none;
}
.about img {
	margin-bottom: .9em;
}

.site-header {
	border-bottom: 1px dashed #aaaaaa;
}
.site-title {
	display: inline-block;
}
.site-title a {
	color: #333;
	text-decoration: none;
}
.site-title a:hover {
	color: #0364AC;
}
.site-logo img {
	width: 100px;
}
.site-footer {
	padding: 0 5%;
	border-top: 1px dashed #aaaaaa;
}
footer {
	margin: 0 auto;
	max-width: 700px;
	padding-top: 1.5em;
}
.no-margin {
	margin: 0;
}
.sm-margin {
	margin: 0 0 .5em 0;
}
.posts {
}
.post-item {
	margin-bottom: 2em;
	background-color: #222222;
}
.post-item:last-child {
	border-style: none;
	margin-bottom: 0;
}
.post-title {
	font-size: 2em;
	padding: 1em;
}
.post-title a {
	color: #eeeeee;
}
.post-date {
	font-size: 1em;
	margin-bottom: 0.75em;
}
.post-image {
	margin: 0 0 0.75em 0;
	line-height: 0;
	border: 1px solid #222;
}
.post {
	margin-bottom: 2.5em;
}
.pagination {
	text-align: center;
	font-size: 1em;
}
.button {
	padding: 1.5em;
	border: 1px solid #ccc;
	text-align: center;
	background-color: #e6e6e6;
}
.img-responsive {
	max-width: 100%;
}
.img-border {
	max-width: 100%;
	border: 1px solid #aaa;
}
.center {
	text-align: center;
}
.img-wide {
	width: 100%;
}
.readmore {
	display: inline-block;
}
.social-icons {
	width: 40px;
	margin-left: 0.5em;
	float: right;
	margin-bottom: 1em;
}
.icon{
	width: 75px;
}
/*  Wide Layout - Large Images: 1150px. */
@media only screen and (min-width: 1150px) {
.img-wide {
	width: 150%;
	margin: 0 -25%;
}
}

/*  Wide Layout - Medium Images: 901px. */
@media only screen and (min-width: 901px) and (max-width: 1149px) {
.img-wide {
	width: 120%;
	margin: 0 -10%;
}
}

/*  Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 900px) {

}

/*  Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
h1 {
	font-size: 2.0em;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.6em;
}
h4 {
	font-size: 1.4em;
}
h5 {
	font-size: 1.2em;
}
h6 {
	font-size: 1em;
}
p, ul, ol {
	font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
}
.site-logo img {
	width: 100px;
}
nav {
	margin: 1em 0 0 0;
}
}

/*  Mobile Layout: 320px. */
@media only screen and (max-width: 479px) {
h1 {
	font-size: 2.0em;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.6em;
}
h4 {
	font-size: 1.4em;
}
h5 {
	font-size: 1.2em;
}
h6 {
	font-size: 1em;
}
p, ul, ol {
	font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
}
.site-logo img {
	width: 100px;
}
nav {
	margin: 1em 0 0 0;
}
}