---
layout: default
title: Home | andsplat, a blog by Ben W. Fey
---
	<div class="posts">

	  {% for post in paginator.posts %}
	  <div class="post-item">
		<div class="post-title">
		<a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
		</div>
		<div class="post-date">
		{{ post.date | date_to_string }}
		</div>
		{% if post.image %}
		<div class="post-image">
		<a href="{{ post.url }}" title="{{ post.title }}"><img src="{{ post.imagelocation }}/{{ post.image }}" alt="post photo" class="img-responsive"></a>
		</div>
		{% else %}
		<div>{{ post.special_var }}</div>
		{% endif %}
		<div>
		<p>{{ post.excerpt | remove: '<p>' | remove: '</p>' | strip_html }} <span class="readmore"><a href="{{ post.url }}" title="{{ post.title }}">Read more...</a></span></p>
		</div>
		</div>
	  {% endfor %}
	</div>
	
	<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous"></span>
  {% endif %}
  <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next "></span>
  {% endif %}
</div>

