<!DOCTYPE html>
	<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>{{ page.title }}</title>
			
			<link rel="shortcut icon" href="/icons/favicon.ico" />
			<link rel="apple-touch-icon" href="/icons/favicon-152.png">
			<link rel="apple-touch-icon" sizes="72x72" href="/icons/favicon-72.png">
			<link rel="apple-touch-icon" sizes="120x120" href="/icons/favicon-120.png">
			<link rel="apple-touch-icon" sizes="152x152" href="/icons/favicon-152.png">
			
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/normalize.css">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Domine|Open+Sans" rel="stylesheet">
	
		</head>
		<body>
			
		<div class="site-header">
			<div class="site-nav">
			<div class="site-title">
			<a href="/" rel="home" class="site-logo"><img src="/images/logo.png" alt="and splat, a blog by Ben W. Fey"></a>
			</div>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	    		</ul>
			</nav>
			</div>
		</div>
			<div class="content">
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			</div>
			<div class="site-footer">
			<footer>
	    		<ul>
	        		<li>&copy; 2017 Ben W. Fey</li>
				</ul>
			</footer>
			</div>
		</body>
	</html>
