---
layout: default
---
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>
<div class="post">
  {{ content }}
</div>
<div class="twitter">
<p class="sm-margin">Have comments, questions?</p> <a href="https://twitter.com/intent/tweet?screen_name=andsplat" class="twitter-mention-button" data-size="large" data-url="http://andsplat.com{{ page.url }}/" data-lang="en" data-dnt="true" data-show-count="false">Tweet to @andsplat</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

